.icons {
  width: 16px;
  margin-right: 10px;
}
.clr-row{
  margin: 0 auto 30px;
}
.card{
height: 100px;
width: 255px;
margin-right: 10px;
border: 1px solid rgb(45, 156, 230);
box-shadow: none;
}
.card:hover {
  background-color: #E4EEF7;
  cursor: pointer;
}
hr{
  border: none;
  border-bottom:1px solid#CCC;
}

.active{
  background-color: #3269cd;
  color: #FFF;
}
