<div class="main-container">
    <div class="clr-row">
        <div class="card" (click)="selectCard('allContacts')" [class.active]="currentSection==='allContacts'" >
          <div class="card-block">
            <h6 class="card-title">
              <span><img class="icons" [src]="icons.contacts" alt="contacts icon" />
              </span>
              <span>&nbsp;</span>
              <span>All Contacts</span>
            </h6>
            <h3 class="card-text">
              <span>11</span>
            </h3>
          </div>
        </div>

        <div class="card" (click)="selectCard('serviceProviders')" [class.active]="currentSection==='serviceProviders'">
          <div class="card-block">
            <h6 class="card-title">
              <span><img class="icons" [src]="icons.serviceProviders" alt="serviceProviders" />
              </span>
              <span>&nbsp;</span>
              <span>Service Providers</span>
            </h6>

          </div>
        </div>

        <div class="card" (click)="selectCard('beneficiaries')" [class.active]="currentSection==='beneficiaries'">
          <div class="card-block">
            <h6 class="card-title">
              <span><img class="icons" [src]="icons.beneficiaries" alt="truck icon" />
              </span>
              <span>&nbsp;</span>
              <span>Beneficiaries</span>
            </h6>
            <h3 class="card-text">
              <span>11</span>
            </h3>
          </div>
        </div>

        <div class="card" (click)="selectCard('customers')" [class.active]="currentSection==='customers'">
          <div class="card-block">
            <h6 class="card-title">
              <span><img class="icons" [src]="icons.customers" alt="customers icon" />
              </span>
              <span>&nbsp;</span>
              <span>Customers</span>
            </h6>
          </div>
        </div>

        <div class="card" (click)="selectCard('employees')" [class.active]="currentSection==='employees'">
          <div class="card-block">
            <h6 class="card-title">
              <span><img class="icons" [src]="icons.employees" alt="employees icon" />
              </span>
              <span>&nbsp;</span>
              <span>Employees</span>
            </h6>
          </div>
        </div>
    </div>
    <hr>
    <div class="content-container">
      <div class="content-area">
        <app-contact-details [contacts]=contacts [currentSection]=currentSection></app-contact-details>

      </div>
    </div>


</div>

<div [class.red]="true" [class.size20]="true">Test</div>

